	*{margin: 0;padding: 0;}
	body{
		text-align: center;
	}
	.pos{
		position: relative;
		width: 500px;
		height: 444.438px;
		border: 1px solid #000000;
		padding: 5px;
		border-radius: 5px;
		margin: 30px auto 0px;
	}
	#pic{
		white-space: nowrap;
		overflow-x: scroll;
	}
	img{
		width: 500px;
		display: inline;
	}
	#lef{
		width: auto;
		position: absolute;
		top: 50%;left: 20px;
		margin-top: -20px;
		opacity: 0;
	}
	#rig{
		width: auto;
		position: absolute;
		top: 50%;right: 20px;
		margin-top: -20px;
		opacity: 0;
	}
	.opa{
		opacity: 1!important;
	}
	/* 整个滚动条 */
	#pic::-webkit-scrollbar{
		display: none;
	}
	/* 滚动条上的按钮 (上下箭头) */
	#pic::-webkit-scrollbar-button{}
	/* 滚动条上的滚动滑块 */
	#pic::-webkit-scrollbar-thumb{}
	/* 滚动条轨道 */
	#pic::-webkit-scrollbar-track{}
	/* 滚动条没有滑块的轨道部分 */
	#pic::-webkit-scrollbar-track-piece{}
	/* 当同时有垂直滚动条和水平滚动条时交汇的部分 */
	#pic::-webkit-scrollbar-corner{}
	/* 某些元素的corner部分的部分样式(例:textarea的可拖动按钮). */
	#pic::-webkit-resizer{}

	#ull li{
		display: inline-block;
	}
	.pos ol li{
		display: inline-block;
		border-radius: 50%;
		background-color: #C0C0C0;
		width: 7px;height: 7px;
		margin-right: 5px;
		cursor: pointer;
	}
	.pos ol{
		position: absolute;
		bottom: 10px;
		left: 50%;
		transform: translateX(-50%);
		white-space: nowrap;
	}
	.bgc{
		background-color: #FF0000!important;
	}